#peggle-combo {
    color: rgb(227, 227, 44);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    bottom: 5px;
}

#peggle-ext-ball {
    color: rgb(200, 255, 200);
    text-shadow: -2px -2px 0 rgb(0, 50, 0), 2px -2px 0 rgb(0, 50, 0), -2px 2px 0 rgb(0, 50, 0), 2px 2px 0 rgb(0, 50, 0);
    top: 5px;
}

#peggle-combo, #peggle-ext-ball {
    height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

#peggle-combo div {
    opacity: 0;
    animation: comboAni ease 2s;
}

#peggle-ext-ball div {
    opacity: 0;
    animation: extBallAni ease 4s;
}

@keyframes comboAni {
    0% {display: block; opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes extBallAni {
    0% {display: block; opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}