body {
    background: rgb(23, 23, 23);
}

#container {
    animation: fadeIn ease .5s;
}

#spacer {
    font-size: 3px;
}

#logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: moveIn cubic-bezier(.86,0,.07,1) 1s;
}

#redirect-text {
    position: relative;
    font-family: "Segoe UI Light";
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    font-size: 2em;
    max-width: 80vw;
    top: 60vh;
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes moveIn {
    0% {padding-bottom: 10vh;}
    100% {padding-bottom: 0;}
}
