* {
    scrollbar-color: rgba(255, 255, 255, 0.2) rgb(20, 20, 20);
}

::-webkit-scrollbar {
    background: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

@font-face {
    src: url(fonts/AppleGaramond.ttf);
    font-family: "Apple Garamond";
}

@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(7, 134, 134);
    color: white;
    margin: 0;
}

#text {
    font-family: monospace;
    font-size: large;
    height: calc(100vh - 55px);
    padding: 10px;
}

#text.document-window {
    max-width: 478px;
    min-height: calc(100vh - 55px);
    height: auto;
}

#text .icons-only {
    max-width: none;
    margin: auto;
}

#text p:where(:first-child) {
    margin-top: 0;
}

#text p:where(:last-child) {
    margin-bottom: 0;
}

#text a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px 5px;
}

#text #inside-window a {
    display: contents;
    color: blue;
}

#text #window-close {
    position: absolute;
    display: block;
    left: 461px;
    top: 14px;
}

#text #window-build {
    display: block;
}

#text #inside-window {
    background: url(../img/spaces/notepad-middle.png);
    padding: 5px 10px;
    color: black;
}

#inside-window img {
    max-width: 25em;
    max-height: 25em;
    margin: auto;
    display: block;
}

#text .icon-button {
    border: 2px solid rgba(255, 255, 255, 0);
    margin: 20px 0;
    display: block;
    width: 100px;
}

#text .icon-button:where(:first-child):not(:where([class~=not-prose] *)) {
    margin: 0;
}

#text #document.new-doc::before {
    content: "";
    background-color: rgb(255 242 0);
    border-radius: 100%;
    line-height: normal;
    position: absolute;
    margin-left: 62px;
    height: 13px;
    width: 13px;
}

#text #folder.new-doc::before {
    content: "";
    background-color: rgb(255 242 0);
    border-radius: 100%;
    line-height: normal;
    position: absolute;
    margin-left: 62px;
    height: 13px;
    width: 13px;
}

#text .icon-button:hover {
    border: 2px dotted rgb(182, 182, 182);
}

#text .icon-button img {
    display: block;
    margin: auto;
    width: 50px;
}

#text .icon-button #icon-text {
    text-align: center;
    padding-top: 2px;
}


#below {
    font-family: 'JetBrains Mono', monospace;
    border-top: 3px solid rgb(242, 249, 252);
    background: rgb(191, 192, 192);
    color: black;
}

#below-container {
    display: flex;
}

#below #back-button {
    margin-left: 1px;
    display: flex;
    width: 73px;
}

#below #below-text {
    width: fit-content;
    display: flex;
    margin: auto;
}