@use "sass:map";


// map
$colors: (
    popupBg: #444,

    iconPlayerInactive: #666,

    iconBorder: #000,
);

// get colors from the colors var
@function gColor($key) {
    // make sure the colors var has the key the stylesheet requested
    @if map.has-key($colors, $key) {
        @return map.get($colors, $key);
    }
    @error "Unknown color `#{$key}`. Available colors: #{map.keys($colors)}";
}
